@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.9%;
    --foreground: 0 0% 25.0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 25.0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 25.0%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 25.0%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 11.0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 11.0%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 11.0%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


  /* globals.css */

@font-face {
  font-family: 'DiatypeTrial';
  src: url('../fonts/ABCDiatype-Light-Trial.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

  @font-face {
    font-family: 'DiatypeTrial';
    src: url('../fonts/ABCDiatype-Regular-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'DiatypeTrial';
    src: url('../fonts/ABCDiatype-Medium-Trial.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'DiatypeTrial';
    src: url('../fonts/ABCDiatype-Bold-Trial.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'DiatypeTrial';
      src: url('../fonts/ABCDiatype-Heavy-Trial.woff2') format('woff2');
      font-weight: 700;
      font-style: normal;
    }

  @font-face {
    font-family: 'DiatypeTrial';
    src: url('../fonts/ABCDiatype-Black-Trial.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
/* Mono */
  @font-face {
    font-family: 'DiatypeTrialMono';
    src: url('../fonts/ABCDiatypeMono-Regular-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'DiatypeTrialMono';
    src: url('../fonts/ABCDiatypeMono-Medium-Trial.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  /* semi-mono */
  @font-face {
    font-family: 'DiatypeTrialSemiMono';
    src: url('../fonts/ABCDiatypeSemi-Mono-Regular-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'DiatypeTrialSemiMono';
    src: url('../fonts/ABCDiatypeSemi-Mono-Medium-Trial.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

body {
  font-family:  'DiatypeTrialMono', 'DM Sans', sans-serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.mono {
  font-family: 'DiatypeTrialMono', monospace;
}
.semi-mono {
  font-family: 'DiatypeTrialSemiMono', monospace;
}
.sans{
  font-family: 'DiatypeTrial', sans-serif;
}


.dashcomponent{
  margin-top:52px;
  font-size:small;

}

.dashloading{
  border-radius: 0.5rem;
  padding: 1rem;
  height: 320px;
}

.responsive-padding {
 padding-left: 25px;
 padding-right: 25px;
}

@media (max-width: 768px) {
  .responsive-padding {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 1024px) {
  .responsive-padding {
    padding-left: 25px;
    padding-right: 25px;
  }
  .dashcomponent{
    padding: 0rem;
  }
}

@media (min-width: 1380px) {
  .responsive-padding {
    /* padding-left: 200px; */
    /* padding-right: 200px; */
  }
}

.custom-underline {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.dropdown {
  border-radius: 4px;
}

button.activedropdown{
  box-shadow: 0px 0.3613123810646357px 0.3613123810646357px -1.25px rgba(0, 0, 0, 0.18), 0px 1.3731199819460742px 1.3731199819460742px -2.5px rgba(0, 0, 0, 0.15889), 0px 6px 6px -3.75px rgba(0, 0, 0, 0.0625);
}

.dropdown-content {
  display: none;
  padding: 5px;
  gap: 5px;
  position: absolute;
  background-color: #ffffff;
  min-width: 270px;
  z-index: 1;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0px 0.3613123810646357px 0.3613123810646357px -1.25px rgba(0, 0, 0, 0.18), 0px 1.3731199819460742px 1.3731199819460742px -2.5px rgba(0, 0, 0, 0.15889), 0px 6px 6px -3.75px rgba(0, 0, 0, 0.0625);
}

.dropdown-signout {
  display: none;
  position: absolute;
  border-radius: 0 0 4px 4px;
  z-index: 1;
  right: 25px;
  box-shadow: 0px 0.3613123810646357px 0.3613123810646357px -1.25px rgba(0, 0, 0, 0.18), 0px 1.3731199819460742px 1.3731199819460742px -2.5px rgba(0, 0, 0, 0.15889), 0px 6px 6px -3.75px rgba(0, 0, 0, 0.0625);
}

.dropdown.open .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropdown-signout {
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.dropdown-item {
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

.dropdown-item:last-child {
  margin-bottom: 0px;
}

.dropdown-item label {
  display: flex;
  align-items: top;
  height: 30px;
}



.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 18px; /* Adjust size as needed */
  height: 18px;
  top: 1px;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Custom Checkbox styling*/
.checkmark {
  position: absolute;
  top: 0px;
  right: 0;
  height: 16px; /* Adjust size as needed */
  width: 16px;
  /* @apply bg-white border border-neutral-400 dark:border-neutral-800; */
  border-radius: 3px; /* Rounded corners */
  @apply bg-neutral-300 dark:bg-neutral-500;
}

.checkmark:hover {
   
  /* border: 1px solid #000; Border color */
}
.custom-checkbox input:checked + .checkmark {
  /* @apply border border-[#1c1c1c] dark:border-white;
   */
  @apply bg-neutral-300 dark:bg-neutral-500;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark:after {
  display: block;
  
}

.custom-checkbox .checkmark:after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  /* background-color: #1c1c1c; */
  @apply bg-[#1c1c1c] dark:bg-[#fff];
  border-radius: 1px;
  transform: translate(-50%, -50%);
}


